<!DOCTYPE html>
<html lang="en">
 <head>
    <title> Portugal lá Fora</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="DS">
  <meta name="description" content="T-shirts">
  <meta name="keywords" content="T-shirts">
  <link href="resources/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="resources/css/style.css">
  <link rel="stylesheet" type="text/css" href="resources/css/empresas.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/FancyProductDesigner-all.min.css" />
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/52c7e2a22d575de980e288f3d/8edae5f2201112667c578ae9d.js");</script>
  <script type="text/javascript"></script>
  <script defer src="popup.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Oswald:wght@500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin-ext,cyrillic-ext,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic&subset=latin-ext,greek-ext,cyrillic-ext,greek,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
   
</head>
<body>
 <header>
     <div class="content" id="navbar">
         <div id="logo">
            <h4>Portugal lá Fora</h4>
        </div>

        <div class="tutorial" id="dropmenu">
          <ul id="dropdown">
              <li><a href="/index">Home </a></li>
              <li><a href="">Empresas <i class="fas fa-chevron-down fa-xs"></i></a>
                  <ul>
                    <li><a href="/empresas">Empresas</a> </li>
                    <li><a href="/add"> Adicionar empresas</a></li>
                    </ul>
                  </li>
              <li><a > Transportes<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul>
                  <li><a href="#">Procurar Transportes</a> </li>
                
                  
                </ul></li>
              <li><a >Artigos<i class="fas fa-chevron-down fa-xs"></i></a>
              <ul>
                      <li><a href="/artigos">Ver todos os artigos</a></li>
                      <li><a href="">Saude</a> </li>
                      <li><a href="/desporto">Desporto</a></li>
                      <li><a href="">Viagens</a></li>
                      <li><a href="">Cidades em Portugal</a></li>
                      <li><a href="">Suiça</a></li>
                    </ul></li>
              <li><a >Viagens <i class="fas fa-chevron-down fa-xs"></i></a>
              <ul>
                      <li>Sobre as nossas viagens <li></li>
                    </ul></li>  
              <li><a >Mais <i class="fas fa-chevron-down fa-xs"></i></a>
                      <ul>
                              <li><a href="/sobrenos"> Sobre nós</a></li>
                                <li><a href="/contato">Contatos</a></li>
                              
                            </ul></li>         
                    <li><a ><i class="fas fa-user"></i>  A tua conta  <i class="fas fa-chevron-down fa-xs"></i></a >
                      <ul>
                        <li><a href="/login">Entra</a> </li>
                        <li><a href="/signup">Registra-te</a> </li>
                        <li><a href="/profile">O teu perfil</a></li>
                        
                      </ul></li>   

          </ul>     
  </div>    
       
         <div id="contactos">
             <div class="redes">  
             <a class="fac" href="facebook.com/portugal.lafora.9"><i class="fa fa-facebook fa-lg"></i></a>
             <a class="ins" href="#"><i class="fa fa-instagram fa-lg"></i></a>
          </div> 
         </div>
     </div>
 </header>  





    <section class="searchwork" style="margin-top: 5px; margin-left: 120px;">
     
      
      
          
    </section>
    <br>

    <div class="empresasMain">

      <div class="sideBar" style="margin-top: -50px;">
        
       
      
         <div class="empresasWorkSearch1" style=" height: 130px; padding-top: 10px; width: 98%; margin-left: 0; margin-bottom: 10px; margin-top: 50px; " >
          <div class="workSearchTitle">
            <a href="/empresas">
            <h3>Transportes </h3>
            <p>Portugal <i class="fas fa-arrows-alt-h"></i>   Suiça</p>
            <h1><i class="fas fa-search"></i></h1>
          </a>
          </div>
          
        </div>
          
        <div class="sidebarpublicidade" style="margin-bottom: 15px;">
          <img style="width: 98%;height: 240px;" src="/assets/img/Rebeka_Collier54@yahoo.com.jpeg"/>
          <h2 style="position: absolute; margin-top: -250px;width: 200px;color: white;margin-left: 50px;">Espaço para publicidade</h2>
        </div>
        
        <section id="sidebarartigos" class="cards-wrapper">
          <% if (sidenews.length > 0) {%>
            <% sidenews.forEach((sidenew, index) => { %>
          <div class="card-grid-space">
            
            <a class="card1" href="./conteudo?id=<%= sidenew.id %>" style="--bg-img: url (/uploads/blog_images/<%= sidenew.image %>) ">
              <div>
               
                <p><%= sidenew.blog_title %></p>
                <div class="date"><%= sidenew.created_at.toDateString() %></div>
                <div class="tags">
                  <div class="tag">HTML</div>
                </div>
              </div>
            </a>
          </div>
          <br>
          <% }) %>
          <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
        </section>
      
        <% } else { %>
          <p class="text-center">Não encontramos noticias <a href="/empresas" >Aqui</a> para voltar atrás.</p>
      <% } %>
      </div>
      <style>
      .table-wrapper {
          margin-top: 50px;
      }
  
      .player-img {
          width: 40px;
          height: 40px;
      }
  
      .add-player-form {
          margin-top: 50px;
      }
  </style>
  

    <section class="cards">
        <div class="grid">
            <div class="destaque1"  >
             <div class="slidepublicidade" style="width: 1200px; height: 400px;">
            <!-- #region Jssor Slider Begin -->
         <!-- Generator: Jssor Slider Composer -->
         <!-- Source: https://www.jssor.com/demos/image-slider.slider/=edit -->
         <script src="/resources/js/jssor.slider-28.0.0.min.js" type="text/javascript"></script>
            <script type="text/javascript">
             window.jssor_1_slider_init = function() {
     
                 var jssor_1_SlideoTransitions = [
                   [{b:500,d:1000,x:0,e:{x:6}}],
                   [{b:-1,d:1,x:100,p:{x:{d:1,dO:9}}},{b:0,d:2000,x:0,e:{x:6},p:{x:{dl:0.1}}}],
                   [{b:-1,d:1,x:200,p:{x:{d:1,dO:9}}},{b:0,d:2000,x:0,e:{x:6},p:{x:{dl:0.1}}}],
                   [{b:-1,d:1,rX:20,rY:90},{b:0,d:4000,rX:0,e:{rX:1}}],
                   [{b:-1,d:1,rY:-20},{b:0,d:4000,rY:-90,e:{rY:7}}],
                   [{b:-1,d:1,sX:2,sY:2},{b:1000,d:3000,sX:1,sY:1,e:{sX:1,sY:1}}],
                   [{b:-1,d:1,sX:2,sY:2},{b:1000,d:5000,sX:1,sY:1,e:{sX:3,sY:3}}],
                   [{b:-1,d:1,tZ:300},{b:0,d:2000,o:1},{b:3500,d:3500,tZ:0,e:{tZ:1}}],
                   [{b:-1,d:1,x:20,p:{x:{o:33,r:0.5}}},{b:0,d:1000,x:0,o:0.5,e:{x:3,o:1},p:{x:{dl:0.05,o:33},o:{dl:0.02,o:68,rd:2}}},{b:1000,d:1000,o:1,e:{o:1},p:{o:{dl:0.05,o:68,rd:2}}}],
                   [{b:-1,d:1,da:[0,700]},{b:0,d:600,da:[700,700],e:{da:1}}],
                   [{b:600,d:1000,o:0.4}],
                   [{b:-1,d:1,da:[0,400]},{b:200,d:600,da:[400,400],e:{da:1}}],
                   [{b:800,d:1000,o:0.4}],
                   [{b:-1,d:1,sX:1.1,sY:1.1},{b:0,d:1600,o:1},{b:1600,d:5000,sX:0.9,sY:0.9,e:{sX:1,sY:1}}],
                   [{b:0,d:1000,o:1,p:{o:{o:4}}}],
                   [{b:1000,d:1000,o:1,p:{o:{o:4}}}]
                 ];
     
                 var jssor_1_options = {
                   $AutoPlay: 1,
                   $CaptionSliderOptions: {
                     $Class: $JssorCaptionSlideo$,
                     $Transitions: jssor_1_SlideoTransitions
                   },
                   $ArrowNavigatorOptions: {
                     $Class: $JssorArrowNavigator$
                   },
                   $BulletNavigatorOptions: {
                     $Class: $JssorBulletNavigator$,
                     $SpacingX: 16,
                     $SpacingY: 16
                   }
                 };
     
                 var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
     
                 /*#region responsive code begin*/
     
                 var MAX_WIDTH = 1120;
     
                
                 /*#endregion responsive code end*/
             };
         </script>
         <link href="//fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin-ext,cyrillic-ext,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
         <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic&subset=latin-ext,greek-ext,cyrillic-ext,greek,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
         <style>
             /*jssor slider loading skin double-tail-spin css*/
             .jssorl-004-double-tail-spin img {
                 animation-name: jssorl-004-double-tail-spin;
                 animation-duration: 1.6s;
                 animation-iteration-count: infinite;
                 animation-timing-function: linear;
             }
     
             @keyframes jssorl-004-double-tail-spin {
                 from { transform: rotate(0deg); }
                 to { transform: rotate(360deg); }
             }
     
             /*jssor slider bullet skin 031 css*/
             .jssorb031 {position:absolute;}
             .jssorb031 .i {position:absolute;cursor:pointer;}
             .jssorb031 .i .b {fill:#000;fill-opacity:0.6;stroke:#fff;stroke-width:1800;stroke-miterlimit:10;stroke-opacity:0.8;}
             .jssorb031 .i:hover .b {fill:#fff;fill-opacity:1;stroke:#000;stroke-opacity:1;}
             .jssorb031 .iav .b {fill:#fff;stroke:#000;stroke-width:1800;fill-opacity:.6;}
             .jssorb031 .i.idn {opacity:.3;}
     
             /*jssor slider arrow skin 051 css*/
             .jssora051 {display:block;position:absolute;cursor:pointer;}
             .jssora051 .a {fill:none;stroke:#fff;stroke-width:1800;stroke-miterlimit:10;}
             .jssora051:hover {opacity:.8;}
             .jssora051.jssora051dn {opacity:.5;}
             .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
         </style>
         <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:350px;overflow:hidden;visibility:hidden;">
             <!-- Loading Screen -->
          

           


             <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1200px;height:340px;overflow:hidden;">
                 <div style="background-color:#000000;">
                     <img data-u="image" style="opacity:0.5;" src="/resources/images/porto1.jpg">
                     <div data-ts="flat" data-p="320" style="left:144px;top:80px;width:550px;height:90px;position:absolute;overflow:hidden;">
                         <div data-to="50% 50%" data-ts="preserve-3d" data-t="0" style="left:550px;top:0px;width:550px;height:90px;position:absolute;overflow:hidden;">
                             <div data-to="50% 50%" data-ts="preserve-3d" data-arr="1" style="left:20px;top:18px;width:400px;height:40px;position:absolute;color:#edf1f2;font-size:40px;font-weight:700;line-height:0;letter-spacing:0.1em;">Portugal lá Fora</div> <br>
                             <div data-to="50% 50%" data-ts="preserve-3d" data-arr="2" style="left:19px;top:36px;width:800px;height:30px;position:absolute;color:#edf1f2;font-size:24px;line-height:1.2;letter-spacing:0.05em;"><span>"</span><span style="font-weight:900;color:#039723;">Nossa pátria </span><span style="color: yellow;font-weight:900;">é onde </span><span style="color: red;font-weight:900;">nos sentimos bem</span><span>"</span> </div>
                           
                             
                             
                             
                            </div>
                     </div>
                 </div>
                
                
                 <div style="background-color:#000000;">
                     <img data-u="image" style="opacity:0.5;" src="/resources/images/mascaras_para_coronavirus.jpg" />
                     <div data-ts="flat" data-p="1800" data-po="50% -100%" style="left:120px;top:90px;width:600px;height:300px;position:absolute;">
                         <svg viewbox="0 0 200 200" width="200" height="200" data-t="10" style="left:66px;top:21px;display:block;position:absolute;opacity:0.6;overflow:visible;">
                             <path stroke-dasharray="0,700" fill="none" stroke="#ffffff" d="M0,100C0,44.77152 44.77152,0 100,0C155.22848,0 200,44.77152 200,100C200,155.22848 155.22848,200 100,200C44.77152,200 0,155.22848 0,100Z" data-t="9"></path>
                         </svg>
                         <svg viewbox="0 0 80 80" width="80" height="80" data-t="12" style="left:3px;top:124px;display:block;position:absolute;opacity:0.6;overflow:visible;">
                             <path stroke-dasharray="0,400" fill="none" stroke="#ffffff" shape-rendering="crispEdges" d="M80,80L0,80L0,0L80,0Z" data-t="11"></path>
                         </svg>
                         <svg viewbox="0 0 500 200" data-to="50% 50%" width="450" height="200" data-t="13" style="left:50px;top:50px;display:block;position:absolute;opacity:0;overflow:visible;">
                             <g>
                                 <a href="#"><text fill="#ffffff" x="17" y="110" style="position:absolute;font-family:Montserrat,sans-serif;font-size:32px;font-weight:300;overflow:visible;">MÁSCARAS DE PROTECÇÃO 
                                 </text>
                                 <text fill="#ffffff" x="488" y="110" style="position:absolute;font-family:Montserrat,sans-serif;font-size:32px;font-weight:500;letter-spacing:0.3em;overflow:visible;">DUGONG
                                 </text>
                                 <text fill="#ff3700" x="318" y="130" style="position:absolute;font-family:Montserrat,sans-serif;font-size:16px;font-weight:900;letter-spacing:0.1em;overflow:visible;">ENCOMENDA JÁ
                                 </text>
                                 <text fill="#ff3700" x="493" y="130" style="position:absolute;opacity:0.8;font-family:Montserrat,sans-serif;font-size:16px;font-weight:700;letter-spacing:0.1em;overflow:visible;">A TUA
                                 </text></a>
                             </g>
                         </svg>
                     </div>
                 </div>
                 <div>
                     <img data-u="image" src="/assets/img/contactos.jpg" />
                     <div data-ts="flat" data-p="500" style="left:160px;top:-30px;width:800px;height:200px;position:absolute;">
                         <div data-arr="14" style="left:0px;top:36px;width:800px;height:70px;position:absolute;opacity:0;color:#199494;font-family:'Roboto Condensed',sans-serif;font-size:32px;font-weight:400;line-height:1.2;letter-spacing:-0.05em;text-align:center;text-shadow:2px 1px #d9d99a;">ADDING&nbsp;&nbsp;<span style="font-size:2em;">PERFECTION</span>&nbsp; TO&nbsp; YOUR&nbsp;&nbsp;<span style="font-size:1.6em;">LAWN</span></div>
                         <div data-arr="15" style="left:0px;top:106px;width:800px;height:48px;position:absolute;opacity:0;color:#0d4d4d;font-family:'Roboto Condensed',sans-serif;font-size:20px;font-weight:400;line-height:1.2;letter-spacing:0.2em;text-align:center;text-shadow:1px 1px #d9d99a;">CREATING GREEN <span style="font-size:2em;">SPACES</span> FOR LIVING</div>
                     </div>
                 </div>
                 <div>
                  <img data-u="image" src="resources/images/porto2.jpg" />
                  <div data-ts="flat" data-p="2720" data-po="50% 48%" style="left:0px;top:0px;width:980px;height:380px;position:absolute;">
                      <div data-to="50% 50%" data-ts="preserve-3d" data-arr="8" style="left:-2px;top:20px;width:fit-content;height:40px;position:absolute;opacity:0;color:#070707;font-family:Arial,Helvetica,sans-serif;font-size:20px;line-height:1.2;letter-spacing:.2em;text-align:center;font-weight: 800;color: black;"><a href="#" style="color: black;">ADICIONA A TUA PUBLICIDADE <br><br><br><br> Informa-te aqui</div></a>
                  </div>
              </div>
             </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>
             <!-- Bullet Navigator -->
             <div data-u="navigator" class="jssorb031" style="position:absolute;bottom:16px;right:16px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                 <div data-u="prototype" class="i" style="width:13px;height:13px;">
                     <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                         <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                     </svg>
                 </div>
             </div>
             <!-- Arrow Navigator -->
             <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                 <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                     <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                 </svg>
             </div>
             <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                 <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                     <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                 </svg>
             </div>
         </div>
         <script type="text/javascript">jssor_1_slider_init();
         </script>
     
             </div>
            </div> 
        
          <div class="comentariosIndex" style="opacity: 0.9;" style="width: 110%" >
            <div style="width: 80%;margin: auto;background-color: #ffffff; height: 500px;" class="conteudoComentarios" > 
            <div class="headComentarios">
              
              <form action="/comentindex_save" method="POST" enctype="multipart/form-data">
                <div class="form-group" style="line-height: 5px;">
                  <label for="files" class="btn"><h2><i class="far fa-images"></i></h2></label>
                  <input type="file"   class="form-control-file" id="files" name="images"  accept="image/x-png,image/gif,image/jpeg" />
                </div>
                <div class="form__group" > <textarea type="text" class="form__input" id="comentarioindex" name="comentario" placeholder="Escreve aqui... "  style="width: 88%;font-family:Arial, FontAwesome;margin: auto;height: 80px;"   ></textarea>
                </div>
                
                 
                 <script>$("#files").change(function() {
                    filename = this.files[0].name
                    console.log(filename);
                  });</script>
              
                
                <input type="submit" class="butaocomentarios" value="Enviar" style="float: right;margin-top: 3px;border-radius: 5px;">
                    <style>.butaocomentarios:hover{
                     background-color: darkgrey;
                     cursor: pointer;
                    }</style>
              </form>      
            </div>
            <% if (coment.length > 0) {%>
          
              <% coment.forEach((coment, index) => { %>
          <div class="boxcomentarios">
           
        
            <div class="headbox">
                <div class="fotouser"><img id="imguser" src="/resources/images/gerês1.jpg" alt=""></div>
                <div class="nomeedata">
                  <span class="nomeusercoment"><h4><%= coment.username %></h4></span>
                  <span class="datacoment" style="font-size: 13px;"><%= coment.data.toDateString() %></span>
                </div>
            </div>
            <div class="imgcoment" style="margin: auto; justify-content: center;width: 100%;"><img id="imgcoment" src="/imgcoment/<%= coment.image %>" alt="" ></div>
           <div class="comentariofeito" style="margin-left: 10px;"><h4><%= coment.comentario %></h4></div>
          </div>
          <% }) %>
          <% } else { %>
              <p class="text-center">Não encontramos empresas <a href="/empresas" >Aqui</a> para voltar atrás.</p>
          <% } %>
          </div>
          </div>
         <div class="rightcards" style="width: 100%;" >
          <span class="title">
            <a href="/empresas"><h2>Empresas em destaque</h2></a></span><br>
             <div class="cards1flex" style="display: block;margin-top: -30px; width: 100%;" >
            <% if (players.length > 0) {%>
          
              <% players.forEach((player, index) => { %>
        
                
        
        
              <article class="card"  style="position: static;width: 98%; margin-bottom: -170px; float: right;margin-right: -180px; background-color: rebeccapurple;" >
                  <div class="thumb" ><img src="/assets/img/<%= player.image %>" ></div>
                  <div class="infos">
                    <h2 class="title"><%= player.nome_empresa %><span class="flag" ></span></h2>
                    <h3 class="date"><%= player.distrito_name %></h3>
                    <p class="txt">
                      <td><%= player.descricao %></td>
                      <td><%= player.email %></td>
                    </p>
                    <h3 class="details"> <a href="/empresaProfile/<%= player.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Ver</a></h3>
                  </div>
                </article>
        
        
        
        
              
                <% }) %>
              
         
                <% } else { %>
                    <p class="text-center">Não encontramos empresas <a href="/empresas" >Aqui</a> para voltar atrás.</p>
                <% } %>
              
       
              </div>
         </div>
                
         <% if (artigos.length > 0) {%>
          <section class="news" id="mainnews" >
              <header class="main-post-wrapper">
                  <div class="progress-bar progress-bar--primary hide-on-desktop">
                    <div class="progress-bar__fill"></div>
                  </div>
                  <div class="slides">
                    <article class="main-post main-post--active">  <% artigos.forEach((artigo, index) => { %>
                      <div class="main-post__image">
                          <img src="../uploads/blog_images/<%= artigo.image %>" alt="New McLaren wind tunnel 'critical' to future performance, says Tech Director Key"/> 
                      </div><% }) %>
                      <div class="main-post__content">
                        <div class="main-post__tag-wrapper">
                          <span class="main-post__tag">News</span>
                        </div>
                      
                        <h1 class="main-post__title"> <% artigos.forEach((artigo, index) => { %><%= artigo.blog_title %> </h1>
                        <a class="main-post__link" href="./conteudo?id=<%= artigo.id %>"><% }) %>
                              <span class="main-post__link-text" style="margin-bottom:150px;">find out more</span>
                              <svg
                                class="main-post__link-icon main-post__link-icon--arrow"
                                width="37"
                                height="12"
                                viewBox="0 0 37 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                
                              >
                                <path
                                  d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                                  stroke="white"
                                />
                              </svg>
                            </a>
                      </div>
                    </article>
                    <article class="main-post main-post--not-active"><% outros.forEach((outro, index) => { %>
                      <div class="main-post__image">
                          <img src="../uploads/blog_images/<%= outro.image %>" alt="What To Watch For in the 2019 Hungarian Grand Prix" />
                      </div><% }) %>
                      <div class="main-post__content">
                        <div class="main-post__tag-wrapper">
                          <span class="main-post__tag">News</span>
                        </div><% outros.forEach((outro, index) => { %>
                        <h1 class="main-post__title"><%= outro.blog_title %></h1>
                        <a class="main-post__link" href="./conteudo?id=<%= outro.id %>"><% }) %>
                          <span class="main-post__link-text" style="margin-bottom:150px;">find out more</span>
                          <svg
                            class="main-post__link-icon main-post__link-icon--arrow"
                            width="37"
                            height="12"
                            viewBox="0 0 37 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            
                          >
                            <path
                              d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                              stroke="white"
                            />
                          </svg>
                        </a>
                      </div>
                    </article><% outros2.forEach((outro2, index) => { %>
                    <article class="main-post main-post--not-active">
                      <div class="main-post__image">
                          <img src="../uploads/blog_images/<%= outro2.image %>" alt="Hamilton wants harder championship fight from Leclerc and
                            Verstappen" />
                      </div>
                      <div class="main-post__content">
                        <div class="main-post__tag-wrapper">
                          <span class="main-post__tag">News</span>
                        </div>
                        <h1 class="main-post__title"><%= outro2.blog_title %>
                        </h1>
                        <a class="main-post__link" href="./conteudo?id=<%= outro2.id %>">
                          <span class="main-post__link-text" style="margin-bottom:150px;">find out more</span>
                          <svg
                            class="main-post__link-icon main-post__link-icon--arrow"
                            width="37"
                            height="12"
                            viewBox="0 0 37 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            
                          >
                            <path
                              d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                              stroke="white"
                            />
                          </svg>
                        </a>
                      </div>
                    </article><% }) %>
                  </div>
                </header>
                

                <style>
                .post__title{ overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

                }</style>
                <div class="posts-wrapper hide-on-mobile">
                 
                  <article class="post post--active">
                    <div class="progress-bar">
                      <div class="progress-bar__fill"></div>
                    </div>
                    <header class="post__header">
                      <span class="post__tag">News</span>
                      <p class="post__published"><% artigos.forEach((artigo, index) => { %>  <%= artigo.created_at.toDateString() %> <% }) %></p>
                    </header>
                    <h2 class="post__title"><% artigos.forEach((artigo, index) => { %>  <%= artigo.blog_desc %> <% }) %></h2>
                  </article><% outros.forEach((outro, index) => { %>
                  <article class="post">
                    <div class="progress-bar">
                      <div class="progress-bar__fill"></div>
                    </div>
                    <header class="post__header">
                      <span class="post__tag">News</span> 
                      <p class="post__published"><%= outro.created_at.toDateString() %></p>
                    </header>
                    <h2 class="post__title"><%= outro.blog_desc %></h2>
                  </article><% }) %>
          
                  <% outros2.forEach((outro2, index) => { %>
                  <article class="post">
                    <div class="progress-bar">
                      <div class="progress-bar__fill"></div>
                    </div>
                    <header class="post__header">
                      <span class="post__tag">News</span>
                      <p class="post__published"><%= outro2.created_at.toDateString() %></p>
                    </header>
                    <h2 class="post__title"><%= outro2.blog_desc %>
                    </h2>
                  </article>
                  <% }) %>
                </div>
              </section>    
              <% } else { %>
                  <p class="text-center">Não encontramos noticias <a href="/empresas" >Aqui</a> para voltar atrás.</p>
              <% } %>
             
         
        </div>
        </section>
      </div>

     


        
          
        </div>

      </div>


    </div></section>
<br>

  


<footer style="margin-top: -130px;">
  <section class="footer">
     <ul class="list1" id="lista1">
        <li><a href="index.html">Home</a></li>
        <li><a href="/index">Empresas</a></li>
        <li><a href="#">Transportes</a></li>
        <li><a href="/artigos">Artigos</a></li>
     </ul>
     <ul class="list1" id="lista2">
        <li><a href="/add">Adicionar Empresa</a></li>
        <li><a href="parcerias.html">Parcerias</a></li>
        <li><a href="paginasweb.html">Cria a tua página web</a></li>
        <li><a href="#">Politicas de privacidade</a></li>
     </ul>
     <ul class="list1" id="lista3">
        <li><a href="/profile">A tua conta</a></li>
        <li><a href="/sobrenos">Sobre nós</a></li>
        <li><a href="paginasweb.html">Cria a tua página web</a></li>
        <li><a href="/politicaspriv">Politicas de privacidade</a></li>
     </ul>
  </section>
</footer>
<nav class="design">
  <span>© 2020 DS, All Rights Reserved</span>
</nav>
<script>let slide_data = [
  {
    'src':'/blog/resources/images/porto2.jpg',
    'title':'',
    'copy':'sdcvbdvb'
  },
  {
    'src':'/blog/resources/images/algarve1.jpg', 
    'title':'A Plataforma dos emigrantes.',
    'copy':'fagfdbb    .'
  },
  {
    'src':'/blog/resources/images/acores1.jpg', 
    'title':'Aqui encontras o que procuras.',
    'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
  },
  {
    'src':'/blog/resources/images/gerês1.jpg', 
    'title':'Para os portugueses na Suiça',
    'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
  },
  
  ];
  let slides = [],
  captions = [];
  
  let autoplay = setInterval(function(){
  nextSlide();
  },5000);
  let container = document.getElementById('container');
  let leftSlider = document.getElementById('left-col');
  // console.log(leftSlider);
  let down_button = document.getElementById('down_button');
  // let caption = document.getElementById('slider-caption');
  // let caption_heading = caption.querySelector('caption-heading');
  
  down_button.addEventListener('click',function(e){
  e.preventDefault();
  clearInterval(autoplay);
  nextSlide();
  autoplay;
  });
  
  for (let i = 0; i< slide_data.length; i++){
  let slide = document.createElement('div'),
      caption = document.createElement('div'),
      slide_title = document.createElement('div');
    
  slide.classList.add('slide');
  slide.setAttribute('style','background:url('+slide_data[i].src+')');
  caption.classList.add('caption');
  slide_title.classList.add('caption-heading');
  slide_title.innerHTML = '<h1>'+slide_data[i].title+'</h1>';
  
  switch(i){
    case 0:
        slide.classList.add('current');
        caption.classList.add('current-caption');
        break;
    case 1:
        slide.classList.add('next');
        caption.classList.add('next-caption');
        break;
    case slide_data.length -1:
      slide.classList.add('previous');
      caption.classList.add('previous-caption');
      break;
    default:
       break;       
  }
  caption.appendChild(slide_title);
  caption.insertAdjacentHTML('beforeend','<div class="caption-subhead"><span></span></div>');
  slides.push(slide);
  captions.push(caption);
  leftSlider.appendChild(slide);
  container.appendChild(caption);
  }
  // console.log(slides);
  
  function nextSlide(){
  // caption.classList.add('offscreen');
  
  slides[0].classList.remove('current');
  slides[0].classList.add('previous','change');
  slides[1].classList.remove('next');
  slides[1].classList.add('current');
  slides[2].classList.add('next');
  let last = slides.length -1;
  slides[last].classList.remove('previous');
  
  captions[0].classList.remove('current-caption');
  captions[0].classList.add('previous-caption','change');
  captions[1].classList.remove('next-caption');
  captions[1].classList.add('current-caption');
  captions[2].classList.add('next-caption');
  let last_caption = captions.length -1;
  
  // console.log(last);
  captions[last].classList.remove('previous-caption');
  
  let placeholder = slides.shift();
  let captions_placeholder = captions.shift();
  slides.push(placeholder); 
  captions.push(captions_placeholder);
  }
  
  let heading = document.querySelector('.caption-heading');
  
  
  // https://jonsuh.com/blog/detect-the-end-of-css-animations-and-transitions-with-javascript/
  function whichTransitionEvent(){
  var t,
      el = document.createElement("fakeelement");
  
  var transitions = {
    "transition"      : "transitionend",
    "OTransition"     : "oTransitionEnd",
    "MozTransition"   : "transitionend",
    "WebkitTransition": "webkitTransitionEnd"
  }
  
  for (t in transitions){
    if (el.style[t] !== undefined){
      return transitions[t];
    }
  }
  }
  
  var transitionEvent = whichTransitionEvent()
  caption.addEventListener(transitionEvent, customFunction);
  
  function customFunction(event) {
  caption.removeEventListener(transitionEvent, customFunction);
  console.log('animation ended');
  
  // Do something when the transition ends
  }
  
</script>
<script src="/resources/js/transportsearch.js"></script>
<script src="/resources/js/jquery-ui.min.js"></script>
<script src="/resources/js/news.js"></script>
<script src="/resources/js/index_pagination.js"></script>

<script src="/resources/js/slidepublicidade.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.2.1/tinymce.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/5.2.1/jquery.tinymce.min.js"></script>
<script>

$(document).ready(function() {
  
tinymce.init({
  selector: 'textarea#full-featured-non-premium',
  plugins: 'emoticons print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
  imagetools_cors_hosts: ['picsum.photos'],
  menubar: '',
  
 
  toolbar: "emoticons insertfile image media template",
  statusbar: false,
  placeholder: 'Escreve aqui...',
  toolbar_sticky: true,
  autosave_ask_before_unload: true,
  autosave_interval: "30s",
  autosave_prefix: "{path}{query}-{id}-",
  autosave_restore_when_empty: false,
  autosave_retention: "2m",
  image_advtab: true,
  content_css: ['https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap'],
            font_formats: 'Montserrat=Montserrat',
  images_upload_base_path: '/views/',
  images_upload_handler: function (blobInfo, success, failure) {
    var xhr, formData;

    xhr = new XMLHttpRequest();
    xhr.withCredentials = false;
    xhr.open('POST', 'upload_coment_images');

    xhr.onload = function() {
      var json;

      if (xhr.status != 200) {
        failure('HTTP Error: ' + xhr.status);
        return;
      }

      json = JSON.parse(xhr.responseText);

      if (!json || typeof json.location != 'string') {
        failure('Invalid JSON: ' + xhr.responseText);
        return;
      }

      success(json.location);
    };

    formData = new FormData();
    formData.append('file', blobInfo.blob(), blobInfo.filename());

    xhr.send(formData);
  },
  content_css: '//www.tiny.cloud/css/codepen.min.css',
  link_list: [
    { title: 'My page 1', value: 'http://www.tinymce.com' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_list: [
    { title: 'My page 1', value: 'http://www.tinymce.com' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_class_list: [
    { title: 'None', value: '' },
    { title: 'Some class', value: 'class-name' }
  ],
  importcss_append: true,
  height: 120,
  file_picker_callback: function(callback, value, meta) {
            if (meta.filetype == 'image') {
              $('#upload').trigger('click');
              $('#upload').on('change', function() {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                  callback(e.target.result, {
                    alt: ''
                  });
                };
                reader.readAsDataURL(file);
              });
            }
          },
  templates: [
        { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="100%%"   border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
    { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
    { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
  ],
  template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
  template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
  height: 180,
  image_caption: true,
  quickbars_selection_toolbar: 'bold italic | quicklink blockquote quickimage quicktable',
  noneditable_noneditable_class: "mceNonEditable",
  toolbar_mode: 'sliding',
  contextmenu: "link image imagetools table",
 });


});



</script>

</body>
</html>
